{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'static_site/img/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Vegetable’s Package</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <a href="./index.html">Vegetables</a>
                        <span>Vegetable’s Package</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large" src="{{ product.img.url }}" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="{% static 'static_site/img/product/details/product-details-2.jpg' %}"
                            src="{% static 'static_site/img/product/details/thumb-1.jpg' %}" alt="">
                        <img data-imgbigurl="{% static 'static_site/img/product/details/product-details-3.jpg' %}"
                            src="{% static 'static_site/img/product/details/thumb-2.jpg' %}" alt="">
                        <img data-imgbigurl="{% static 'static_site/img/product/details/product-details-5.jpg' %}"
                            src="{% static 'static_site/img/product/details/thumb-3.jpg' %}" alt="">
                        <img data-imgbigurl="{% static 'static_site/img/product/details/product-details-4.jpg' %}"
                            src="{% static 'static_site/img/product/details/thumb-4.jpg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>{{ product.title }}</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>

                        <span>({{average_rating}})</span>
                    </div>
                    <div class="product__details__price">${{ product.price }}</div>
                    <p>{{ product.description }}</p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">ADD TO CARD</a>
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                        <li><b>Availability</b> <span>In Stock</span></li>
                        <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li>
                        <li><b>Weight</b> <span>0.5 kg</span></li>
                        <li><b>Share on</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                aria-selected="false">Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                aria-selected="false">Reviews <span>({{reviews.count}})</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>this is description</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Products Infomation</h6>
                                <p>this is product Infomation.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc" style="display: flex;
                                justify-content: center; width: 100%;">
                                <p>
                                    {% for r in reviews %}
                                    <h3>
                                        {{r.user.username|title}}
                                    </h3>
                                    <h3>
                                        {{r.date|date:"d, m, y"}}
                                    </h3>
                                    <p>{{r.review}}</p>

                                    {% endfor %}
                                    <div class="wrapper">
                                        <h3>Leave Your Rate</h3>
                                        <form action="{% url 'home:ajax-add-review' product.slug %}" method="post" id="ReviewFrom">
                                            {% csrf_token %}
                                            <div class="rating">
                                                <input type="number" name="rating" hidden>
                                                {% comment %} <input class="bx bx-star star" type="radio" id="star-5"
                                                    name="rate" value="5"><label for="star-5"
                                                    class="bx bx-star star"></label> {% endcomment %}
                                                        {% comment %} <input class="bx bx-star " type="radio" id="star-5" name="rate"
                                                            value="1">
                                                        <input class="bx bx-star " type="radio" id="star-5" name="rate"
                                                            value="2">
                                                        <input class="bx bx-star " type="radio" id="star-5" name="rate"
                                                            value="3">
                                                        <input class="bx bx-star " type="radio" id="star-5" name="rate"
                                                            value="4">
                                                        <input class="bx bx-star " type="radio" id="star-5" name="rate" 
                                                        {% comment %} value="5"> {% endcomment %}
                                                {% comment %} <i class='bx bx-star star' style="--i: 0;"></i>
                                                <i class='bx bx-star star' style="--i: 1;"></i>
                                                <i class='bx bx-star star' style="--i: 2;"></i>
                                                <i class='bx bx-star star' style="--i: 3;"></i>
                                                <i class='bx bx-star star' style="--i: 4;"></i> {% endcomment %}
                                                {{ratingform.rate}}
                                            </div>
                                            {% comment %} <textarea name="opinion" cols="30" rows="5"
                                                placeholder="Your opinion..."></textarea> {% endcomment %}
                                                {{ratingform.review}}
                                            <div class="btn-group">
                                                <button type="submit" class="btn submit">Submit</button>
                                                <button class="btn cancel">Cancel</button>
                                            </div>
                                        </form>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Related Product</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg"
                        data-setbg="{% static 'static_site/img/product/product-1.jpg' %}">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg"
                        data-setbg="{% static 'static_site/img/product/product-2.jpg' %}">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg"
                        data-setbg="{% static 'static_site/img/product/product-3.jpg' %}">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg"
                        data-setbg="{% static 'static_site/img/product/product-7.jpg' %}">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-heart"></i></a></li>
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Crab Pool Security</a></h6>
                        <h5>$30.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Product Section End -->
{% endblock content %}