{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
	<link rel="stylesheet" href="{% static 'static_site/css/account.css' %}">

</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form method="POST" action="#">
				{% csrf_token %}
				<h1>Create Account</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your email for registration</span>
				{% comment %} <input type="text" placeholder="Name" /> {% endcomment %}
				{{signup.username}}

				{% comment %} <input type="email" placeholder="Email" /> {% endcomment %}
				{{signup.email}}

				{% comment %} <input type="password" placeholder="Password" /> {% endcomment %}
				{{signup.password1}}
				{{signup.password2}}

				<button>Sign Up</button>
				{% comment %} <input type="submit"> {% endcomment %}
				
			</form>
		</div>

		<div class="form-container sign-in-container">
			<form action="#" method="POST">
				{% csrf_token %}
				<h1>Sign in</h1>
				<div class="social-container">
					<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
					<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
					<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
				</div>
				<span>or use your account</span>
				<input type="text" name="username" placeholder="username" />
				<input type="password" name="password" placeholder="Password" />
				<a href="#">Forgot your password?</a>
				<button>Sign In</button>
				<hr>
				<br>
				
				{% if messages %}
					{% for message in messages %}
					<div class="alrt alert-{{message.tags}}" >{{ message }}</div>
					{% endfor %}
				{% endif %}
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
		{% if messages %}
			{% for message in messages %}
				dic
			{% endfor %}
		{% endif %}
	</div>


	<!-- partial -->
	<script src="{% static 'static_site/js/account.js' %}"></script>

</body>

</html>